# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/
**/build/

# Environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Logs
*.log
logs/
**/logs/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.sln
*.md
*.txt