# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/
**/build/

# Environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Logs
*.log
logs/
**/logs/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.sln
*.md
*.txt

# Abaikan folder docs
docs/

# Abaikan semua file .md di root, KECUALI README.md
/*.md
!/README.md

# Abaikan file .env & build artifacts (pastiin ini juga aman)
.env
.env.*
backend/.env